<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pattern" value="
         /FATAL/{color:white;background-color:red;font-weight:bold;}
         /ERROR/{color:red;background-color:silver;font-weight:bold;}
         /WARN/{color:#888800;background-color:silver;font-weight:bold;}
         /INFO/{color:#00aaaa;}
         /DEBUG/{color:gray;}
         "/>
  </appSettings>
</configuration>